@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "footer";

*{
  font-size: larger;
}
body {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  & .links {
    display: inline-block;
  }
  // & main {
  //   width: 55% !important;
  // }
  & h1, h2, p, a {
  font-family: 'Roboto', sans-serif !important;
  padding: 8px !important;
  }
  & a {
    text-decoration: none !important;
    font-weight: bold !important;
    color: black;
    font-size: larger;
  }
  // & div {
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
  // }
  & img {
    border-radius: 24px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.342);
    margin: 8px;
  }
  & form {
    padding: 16px;
    // margin: 16px;
    & label, input, select {
      margin: 8px;
    }
  }
  & ul {
    list-style: none;
  }
}

div span {
    font-size: larger;
}

#text {
  font-size: larger;
}

.modal-content{
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  text-shadow: 2px;
  margin: auto auto !important;
  & li {
    font-size: large;
  }
  & #current-item, #your-cart {
    border-bottom: 5px solid black;
  }
  & div {
      margin-top: 8px !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
    & h3 {
      margin: 24px;
    }
    & h2 {
      text-align: center !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin: 24px auto;
  align-items: center;
}

#shopify-section-news-carousel{
  align-items: center;
  & span {
    flex-direction: row;
  }
}

#cart {
  font-size: small !important;
  & label {
    font-size: large;
  }
  & #checkbox {
    padding: 8px;
    width: 24px;
    height: 24px;
  }
  & textarea {
    width: 500px;
    height: 250px;
    margin-top: 24px;
  }
}

//buttons

#AddToCart {
  border: none;
  border-radius: 2px;
}

.unavailable {
  background-color: rgb(182, 180, 180);
  pointer-events: none !important;
}

.available {
  border: 2px solid rgb(136, 245, 178) !important;
  background-color: rgb(38, 218, 38);
  color: white;
}

.available:hover {
  background-color: rgb(134, 171, 219);
  color: rgb(134, 171, 219);
  font-size: 0px;
}

.available:hover:after {
  content: attr(data-hover);
  color: white;
  font-size: x-large;
}

h1 div {
  margin: 16px;
}

// Footer

#shopify-section-footer{
  width: 100% !important;
  margin-top: 80px;
}
.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100% !important;
  padding: 0px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

// Header

#banner-h1{
  font-size: 100px;
  text-shadow: 1px 1px black;
  color: #b3aeae;
}

#shopify-section-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.418)),
  url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fnerdsonearth.com%2Fwp-content%2Fuploads%2F2014%2F12%2Fdd3.jpg&f=1&nofb=1);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.52);
  justify-content: center;
  margin-bottom: 80px;
  color: white;
  & a {
    color: white !important;
    text-shadow: 2px 2px black;
  }
  & a:hover {
    color: rgba(255, 255, 255, 0.479) !important;
  }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.metafields {
  & ul {
    list-style: none;
  }
}
