@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  & .links {
    display: inline-block;
  }
  & main {
    width: 55% !important;
  }
  & h1, h2, p, a {
  font-family: 'Roboto', sans-serif !important;
  padding: 8px !important;
  }
  & a {
    text-decoration: none !important;
    font-weight: bold !important;
  }
  & div {
    margin: 16px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  & img {
    border-radius: 24px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.342);
    margin: 8px;
  }
  & form {
    padding: 16px;
    margin: 16px;
    & label, input, select {
      margin: 8px;
    }
  }
  & ul {
    list-style: none;
  }
}

.modal-content{
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  text-shadow: 2px;
  & #current-item, #your-cart {
    border-bottom: 5px solid black;
  }
  & div {
      margin-top: 8px !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
    & h3 {
      margin: 24px;
    }
    & h2 {
      text-align: center !important;
    }
  }
}


.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

//buttons
#AddToCart {
  border: none;
  border-radius: 2px;
}


.metafields {
  & ul {
   list-style: none;
 }

.unavailable {
  background-color: rgb(182, 180, 180);
  pointer-events: none !important;
}

.available {
  border: 2px solid rgb(136, 245, 178) !important;
  background-color: rgb(38, 218, 38);
  color: white;
}

.available:hover {
  background-color: rgb(134, 171, 219);
  color: rgb(134, 171, 219);
  font-size: 0px;
}

.available:hover:after {
  content: attr(data-hover);
  color: white;
  font-size: 14px;
}
